    <ion-router-outlet>
      <ion-tabs>
        <ion-tab-bar slot="bottom" color="primary">
          <ion-tab-button tab="dashboard">
            <ion-icon name="menu-outline"></ion-icon>
            <ion-label>Start</ion-label>
            <ion-badge color="danger">6</ion-badge>
          </ion-tab-button>

          <ion-tab-button>
            <ion-icon name="body-outline"></ion-icon>
            <ion-label>Moods</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="map">
            <ion-icon name="map-outline"></ion-icon>
            <ion-label>Map</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="settings">
            <ion-icon name="settings-outline"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-tab-button>
  
        </ion-tab-bar>
      </ion-tabs>
    </ion-router-outlet>
  