<ion-content>
  <div class="declare">
    <div class="header">
      <h1>How are you feeling today?</h1>
      <h3>Declare your health and share with the world!</h3>
    </div>
    <div class="chips">
      <ion-chip outline="true" color="primary" class="active">
        <ion-icon name="heart" color="light"></ion-icon>
        <ion-label>Good</ion-label>
      </ion-chip>
      <ion-chip outline="true" color="primary">
        <ion-icon name="pin" color="primary"></ion-icon>
        <ion-label>Bad</ion-label>
      </ion-chip>
      <ion-chip outline="true" color="primary">
        <ion-icon name="pin" color="primary"></ion-icon>
        <ion-label>Happy</ion-label>
      </ion-chip>
      <ion-chip outline="true" color="primary">
        <ion-icon name="heart" color="primary"></ion-icon>
        <ion-label>Sad</ion-label>
      </ion-chip>
      <ion-chip outline="true" color="primary">
        <ion-icon name="pin" color="primary"></ion-icon>
        <ion-label>Tired</ion-label>
      </ion-chip>
      <ion-chip outline="true" color="primary">
        <ion-icon name="pin" color="primary"></ion-icon>
        <ion-label>Bajs</ion-label>
      </ion-chip>
      <ion-chip outline="true" color="primary">
        <ion-icon name="heart" color="primary"></ion-icon>
        <ion-label>Good</ion-label>
      </ion-chip>
      <ion-chip outline="true" color="primary">
        <ion-icon name="pin" color="primary"></ion-icon>
        <ion-label>Bad</ion-label>
      </ion-chip>
      <ion-chip outline="true" color="primary">
        <ion-icon name="pin" color="primary"></ion-icon>
        <ion-label>Happy</ion-label>
      </ion-chip>
      <ion-chip outline="true" color="primary">
        <ion-icon name="pin" color="primary"></ion-icon>
        <ion-label>Sad</ion-label>
      </ion-chip>
      <ion-chip outline="true" color="primary">
        <ion-icon name="pin" color="primary"></ion-icon>
        <ion-label>Tired</ion-label>
      </ion-chip>
      <ion-chip outline="true" color="primary">
        <ion-icon name="pin" color="primary"></ion-icon>
        <ion-label>Bajs</ion-label>
      </ion-chip>
    </div>
  </div>
  <form [formGroup]="declareForm" novalidate (ngSubmit)="declare(declareForm)">
    <ion-list lines="none">
      <ion-item class="range">
        <ion-label position="stacked">Put a number on how you feel</ion-label>
        <ion-range formControlName="scale" min="0" max="10" step="1" snaps="true" color="primary">
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Share your feelings
          <span class="ion-float-right">0/300</span>
        </ion-label>
        <ion-textarea formControlName="feelings" rows="4" maxlength="300"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Share with others</ion-label>
        <ion-toggle formControlName="share"></ion-toggle>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button type="submit" fill="solid" expand="block" color="primary" size="large" [disabled]="!declareForm.valid || !position">
        Declare my mood
      </ion-button>
    </div>
  </form>
</ion-content>
