ion-content {
    --background: #F9F6F5;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
}
ion-item, ion-list {
    background: #F9F6F5;
    --background: #F9F6F5;
}
ion-img {
    padding: 5px;
    margin-bottom: 20px;
}
ion-textarea,
ion-input {
   --background: #fff !important;
   border: 2px solid #eee !important;
}
.hashtag {
    position: relative;
    ion-input {
        text-indent: 30px;
    }
    .icon {
        font-weight: bold;
        position: absolute;
        bottom: 28px;
        left: 10px;
        z-index: 9999;
        font-size: 22px;
        color: #999;
    }
}