<ion-content>
  <div class="title">
    <h2>How is it going cutiepie?</h2>
  </div>
  <form [formGroup]="declareForm" novalidate (ngSubmit)="declare(declareForm)">
    <moods-picker formControlName="mood_id" [moods]="moods$ | async"></moods-picker>
    <ion-list lines="none">
      <ion-item class="range">
        <ion-label position="stacked">
          Put a number on how you feel
          <span *ngIf="declareForm.value.scale !== null" class="ion-float-right">{{ declareForm.value.scale }}/{{ 10 }}</span>
        </ion-label>
        <ion-range formControlName="scale" min="0" max="10" step="1" color="primary">
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Tell us why
          <span class="ion-float-right">{{ declareForm.value.feelings.length }}/{{ MAX_LENGTH }}</span>
        </ion-label>
        <ion-textarea formControlName="feelings" rows="4" maxlength="{{ MAX_LENGTH }}"></ion-textarea>
      </ion-item>
      <ion-item class="hashtag">
        <span class="icon">#</span>
        <ion-label position="stacked">
          Hashtag
        </ion-label>
        <ion-input formControlName="hashtag"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding-horizontal ion-padding-bottom">
      <!-- Only visible when image is uploaded-->
      <ion-img *ngIf="photo" [src]="photo"src=""></ion-img>
      <ion-button fill="outline" expand="block" color="primary" (click)="takePicture()">
        <ion-icon slot="start" name="camera-outline"></ion-icon>
        Add a photo
      </ion-button>
    </div>
    <ion-list lines="none">
      <ion-item>
        <ion-label>Share with others</ion-label>
        <ion-toggle formControlName="share"></ion-toggle>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button type="submit" fill="solid" expand="block" color="primary" size="large" [disabled]="!declareForm.valid">
        Declare my mood
      </ion-button>
    </div>
  </form>
</ion-content>
