<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="user$ | async; else loading" [formGroup]="settingsForm" novalidate (ngSubmit)="update(settingsForm)">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input type="number" formControlName="age"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Gender</ion-label>
        <ion-select formControlName="gender">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="other">Unspecified</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input formControlName="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Kids</ion-label>
        <ion-input formControlName="kids"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Occupation</ion-label>
        <ion-input formControlName="occupation"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button type="submit" fill="solid" expand="block" color="primary" size="large">Update</ion-button>
    </div>
    <div class="ion-padding">
      <ion-button type="button" fill="solid" expand="block" color="danger" fill="clear" size="small" (click)="delete()">Delete my account</ion-button>
    </div>
  </form>
  <ng-template #loading>
    <ion-label>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    </ion-label>
  </ng-template>
</ion-content>
