<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Welcome to Lajf
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
    <ion-fab-button (click)="openDeclarationModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Your mood today</ion-card-subtitle>
      <ion-card-title>Mood card</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div *ngIf="user$ | async as user; else userLoading">
        <ion-list lines="full" >
          <ion-item>
            <ion-label>Age</ion-label>
            <ion-note slot="end">{{ user.age }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-note slot="end">{{ user.gender }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Occupation</ion-label>
            <ion-note slot="end">{{ user.occupation }}</ion-note>
          </ion-item>
        </ion-list>
        <ng-template #userLoading>
          <ion-label>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </ion-label>
        </ng-template>
      </div>
    </ion-card-content>
  </ion-card>
  <div *ngIf="declarations$ | async as declarations; else declarationsLoading">
    <ion-card *ngFor="let declaration of declarations">
      <ion-card-header>
        <ion-card-subtitle>{{ declaration.user.gender  | titlecase }} {{ declaration.user.age }} </ion-card-subtitle>
        <ion-card-title>{{ declaration.mood.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>Is {{ declaration.mood.name }} - {{ declaration.scale }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #declarationsLoading>
    <ion-label>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    </ion-label>
  </ng-template>
</ion-content>