.card {
    width: 100%;
    min-height: 220px;
    margin-bottom: 25px;
    background-size: cover;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    .inner {
        width: 100%;
        min-height: 220px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: all 600ms;
        transition: all 600ms;
        z-index: 20;
        &.flipped{
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
        }        
    }
    .front, .back {
        border: 7px solid transparent;
        overflow: hidden;
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 22px;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .front {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    .back {
        background: #fff;
        border-color: #999;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    .mood {
        position: absolute;
        left: 10px;
        bottom: 10px;
        display: flex;
        span {
            color: #fff;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 16px;
            padding: 10px 20px;
            border-radius: 999px;
            margin-right: 10px;
            border: 2px solid #fff;
        }
    }
    .user {
        position: absolute;
        left: 10px;
        top: 10px;
        display: flex;
        span {
            color: #fff;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 10px;
            background: var(--ion-color-primary);
            padding: 3px 10px;
            border-radius: 999px;
            margin-right: 10px;
            border: 2px solid #fff;
        }
    }
    .likes-bg {
        position: absolute;
        bottom: -55px;
        right: 0px;
        width: 120px;
        height: 90px;
        z-index: 999 !important;
        transform: skewY(-30deg);
        ion-icon {
            margin-right: 5px;
        }
    }
    .likes {
        position: absolute;
        bottom: 12px;
        font-weight: bold;
        font-size: 18px;
        right: 12px;
        z-index: 99999 !important;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}