<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Welcome to Lajf
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar></ion-searchbar>
    <!-- <ion-searchbar type="text" (ionInput)="term$.next($event.target.value)"></ion-searchbar>
    <ion-list *ngIf="results$ | async as results">
        <ion-item *ngFor="let result of results">{{ results.name }}</ion-item>
    </ion-list> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
    <ion-fab-button (click)="openDeclarationModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div *ngIf="declarations$ | async as declarations; else declarationsLoading" class="ion-padding">
    <div class="card" *ngFor="let declaration of declarations">
      <div class="inner" (click)="declaration.flipped = !declaration.flipped" [ngClass]="declaration.flipped ? 'flipped' : null">
        <!-- Click on front, show back-->
        <div class="front" [ngStyle]="{ background: 'url(' +  (declaration.image_url || 'http://placehold.it/360x220')  + ') no-repeat center center', 'background-size': 'cover', 'border-color': '#FF6464' }">
          <div class="user">
            <span>{{ declaration.user.age }} y/o</span>
            <span>{{ declaration.user.gender | titlecase }}</span>
            <span>Nearby</span>
            <span>#hash</span>
          </div>
          <div class="mood">
            <span style="background:#FF6464;">a bit</span>
            <span style="background:#FF6464;">{{ declaration.mood.name | titlecase }}</span>
          </div>
          <div class="likes-bg" style="background:#FF6464;"></div>
          <div class="likes" style="color:#fff;">
            <ion-icon name="heart"></ion-icon>
            511
          </div>
        </div>
        <!-- Click on back, show front-->
        <div class="back">
          <div class="body">
            <p>Hej mitt namn är Maciej, jag har sperma i mustaschen!</p>
            <p>Hej mitt namn är Maciej, jag har sperma i mustaschen!</p>
            <p>Hej mitt namn är Maciej, jag har sperma i mustaschen!</p>
            <p>Hej mitt namn är Maciej, jag har sperma i mustaschen!</p>
          </div>
          <div class="footer">
            <ion-button fill="solid">Send your love</ion-button>
            <span class="likes">
              <ion-icon name="heart" color="danger"></ion-icon>
              511
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #declarationsLoading>
    <ion-label>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    </ion-label>
  </ng-template>
</ion-content>