<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About yourself</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" novalidate (ngSubmit)="register(registerForm)">
    <ion-img src="../../assets/undraw_add_document_0hek.png"></ion-img>
    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked">Age</ion-label>
        <ion-range formControlName="age" min="0" max="120" step="1" value="0" pin color="dark">
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Gender</ion-label>
        <ion-select formControlName="gender">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="other">Unspecified</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Occupation</ion-label>
        <ion-select formControlName="occupation">
          <ion-select-option value="full_time">Working full time</ion-select-option>
          <ion-select-option value="part_time">Working part time</ion-select-option>
          <ion-select-option value="unemployed">Unemployed</ion-select-option>
          <ion-select-option value="retired">Retired</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-input formControlName="city"></ion-input>
      <ion-input formControlName="kids"></ion-input>
    </ion-list>
    <div class="ion-padding">
      <ion-button type="submit" fill="solid" expand="block" color="primary" size="large" [disabled]="!registerForm.valid">Go</ion-button>
    </div>
  </form>
</ion-content>
