<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Declare my mood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="declareForm" novalidate (ngSubmit)="declare(declareForm)">
    <ion-img src="../../assets/undraw_faq_rjoy.png"></ion-img>
    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked">Your current mood</ion-label>
        <ion-select formControlName="mood">
          <ion-select-option value="full_time">Good</ion-select-option>
          <ion-select-option value="part_time">Bad</ion-select-option>
          <ion-select-option value="unemployed">Fetch these from db</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Put a number on how you feel</ion-label>
        <ion-range formControlName="temperature" min="0" max="100" step="1" pin color="dark">
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Share your feelings</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Share with others</ion-label>
        <ion-toggle formControlName="share"></ion-toggle>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button type="submit" fill="solid" expand="block" color="primary" size="large" [disabled]="!declareForm.valid || !position">
        Declare my mood
      </ion-button>
    </div>
  </form>
</ion-content>
