<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Welcome to Lajf
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Your information today</ion-card-subtitle>
      <ion-card-title>Declaration card</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list lines="full">
        <ion-item>
          <ion-label>Age</ion-label>
          <ion-note slot="end">34</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-note slot="end">Male</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Occupation</ion-label>
          <ion-note slot="end">Unemployed bum</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Location</ion-label>
          <ion-note slot="end">At home</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Historical data</ion-card-subtitle>
      <ion-card-title>Your declarations</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="../../assets/chart.png"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="schedule">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Start</ion-label>
      <ion-badge color="danger">6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Log out</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>