<ion-header class="ion-no-border ion-padding">
  <ion-img src="../../assets/logotype.png" class="logotype"></ion-img>
</ion-header>
<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-img src="../../assets/undraw_medical_care_movn.png"></ion-img>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis tempora voluptatibus exercitationem ratione quidem beatae laboriosam doloremque explicabo eum et neque dolores, ea velit illum! Laboriosam velit dicta cum quas?</p>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../assets/undraw_medical_research_qg4d.png"></ion-img>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis tempora voluptatibus exercitationem ratione quidem beatae laboriosam doloremque explicabo eum et neque dolores, ea velit illum! Laboriosam velit dicta cum quas?</p>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-button fill="solid" expand="block" color="primary" size="large" [routerLink]="['/auth/register']">Get started</ion-button>
  </ion-toolbar>
</ion-footer>
