<ion-header>
  <ion-toolbar>
    <ion-title>About yourself</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../assets/undraw_add_document_0hek.png"></ion-img>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Kids</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Occupation</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button fill="solid" expand="block" color="primary" size="large">Go</ion-button>
  </div>
</ion-content>
